h4, h2 {
    font-size: 1.3em;
}

#logo-id {
    padding-bottom: 0.3rem;
    padding-right: 0.35rem;
}

/******************************/

.navbar>.container {
    height: 24px;
    font-size: 0.9em;
}

.navbar-brand {
    font-size: 1.15em;
    padding-bottom: 0% !important;
}

.li-sign-in {
    width: 15.5em;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.li-sign-in a {
    border-top: 3px solid transparent;
    border-bottom: 4px solid transparent;
}

.li-sign-in a:hover {
    border-bottom: 4px solid red;
}

.icon-position {
    position: absolute;
    top: 20.9%;
}

#sign-position {
    position: relative;
    left: 35px;
}

.li-wrapper {
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 6.66em;
}

.li-wrapper a {
    border-top: 2px solid transparent;
    border-bottom: 4px solid transparent;
}

.li-wrapper a span {
    display: flex;
    justify-content: center;
}

.li-wrapper a:hover {
    border-bottom: 4px solid red;
}

.li-color-1 a:hover {
    border-bottom: 4px solid blueviolet;
}

#date {
    position: absolute;
    margin-top: 2.5%;
}

/***************************/

.intro-bg {
    background-color: #E7E8E1;
}

.intro-news {
    padding-top: 4em;
    padding-bottom: 1.5em;
}


/***************************/

.custom-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    padding-right: 5px;
}

.barra-news {
    float: left;
    padding-right: 0.3em;
    padding-top: 0.3em;
}
.color-black {
    color: black !important;
}
.col-3 a {
    color: black;
}

/******************************/

footer {
    background-color: black;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-ul {
    list-style-type: none;
}

.input-footer {
    margin-top: 2%;
}